@model WebHelloWorld.ViewModels.IndexViewModel

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Online Education Management System</h2>
        <p>Use the buttons below to navigate to the management pages.</p>
        <div class="btn-group" role="group">
            <a href="/Users" class="btn btn-primary">Manage Users</a>
            <a href="/Courses" class="btn btn-primary">Manage Courses</a>
            <a href="/Topics" class="btn btn-primary">Manage Topics</a>
        </div>
    </div>
</div>
